<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Timesheet Manager</title>
    <meta charset="utf-8" />
    <style>
      h1 {
        text-align: center;
      }

      input {
        margin-top: 20px;
      }

      .form-data {
        text-align: center;
      }

      .button {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>CC Credit</h1>
    </header>
    <main>
      <div class="form-data">
        <form method="post" action="/cc_credit">
          <label for="credits"># of CC Credits (1, 2, or 3)
            <br/>
            <input name="credits">
          </label>
          <br/>
          <button class="button" type="submit">Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>
