<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Timesheet Manager</title>
    <meta charset="utf-8" />
    <style>
      h1 {
        text-align: center;
      }

      .form-data {
        text-align: center;
        margin-top: 50px;
      }

      .button {
        margin-top: 15px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Timesheet Data Input</h1>
    </header>
    <main>
      <div class="form-data">
        <form method="post" action="/time_input">
          <section class="article-details">
            <h2>Article Details</h2>
            <label for="article_name">Article Name:
              <input name="article_name" id="article_name" />
            </label>
            <label for="url">URL:
              <input name="url" id="url" />
            </label>
            <label for="word_count">Word Count:
              <input name="word_count" id="word_count" />
            </label>
          </section>
          <br/>
          <section class="date">
            <h2>Date Published</h2>
            <label for="day">Day:
              <input name="day" id="day" />
            </label>
            <label for="month">Month:
              <input name="month" id="month" />
            </label>
            <label for="year" >Year:
              <input name="year" id="year" />
            </label>
          </section>
          <br/>
          <section class="payment-details">
            <h2>Payment Details</h2>
            <label for="payment_details">Choose a payment type:</label>
            <select name="payment_type" id="payment_details">
              <option value="">--Please choose an option--</option>
              <option value="cc_credit">CC Credit</option>
              <option value="flat_rate">Flat Rate</option>
              <option value="hourly_rate">Hourly Rate</option>
            </select>
          </section>
          <button class="button" type="submit">Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>